@import "https://cdn.syncfusion.com/ej2/material.css";

.site-wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.783) !important;
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.middle {
  width: 800px;
  height: auto;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  align-items: center;
}

.preview {
  margin-top: 30px;
  padding: 20px;
  margin-left: 192px !important;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.783) !important;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.form-field {
  width: 200px !important;
  height: 40px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  border-width: 1px;
  border-color: rgb(214, 210, 210) !important;
  /* display: flex;
  flex-direction: row; */
}

.delete-button {
  margin-left: 5px;
  padding-left: 5px;
  font-size: 18px;
  align-self: flex-end;
}

.add-button {
  width: 100px;
}

button {
  border-style: none;
  background-color: #ffff;
  color: #E4165B;
}

.format-sql {
  text-align: left;
}

.pink {
  color: #E4165B !important;
}

.gray {
  color: rgb(187, 184, 184);
}