@import "https://cdn.syncfusion.com/ej2/material.css";

.site-wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.middle {
  width: 80%;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  align-items: center;
}

.preview {
  border-style: solid;
  border-width: 1px;
  border-color: #004085;
  min-height: 200px;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.form-field {
  width: 250px !important;
  height: 20px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  /* display: flex;
  flex-direction: row; */
}

.delete-button {
  margin-left: 5px;
  padding-left: 5px;
  font-size: 18px;
  align-self: flex-end;
}

.add-button {
  width: 100px;
}

.format-sql {
  text-align: left;
}